/* 
    Created on  : Jan 23, 2018, 5:31:24 AM
    Author      : Saki Rezwanul Haque
    Batch       : CTG Online 07 (Responsive Web Design)

*/

/* Common Styling starts from here */

@font-face {
    font-family: "scriptina";
    src: url('../fonts/scriptina.ttf') format("truetype");
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/Proxima Nova Alt Regular-webfont.woff') format('woff'),
        url('../fonts/Proxima Nova Alt Regular-webfont.ttf') format('truetype');
}


/* header part stars here */

.headerWrapper{
    background-image: url('../images/headerbg.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 750px;
}

.navContainer {
    background: url('../images/navbg.png');
    background-size: cover; 
    width: 100%;
    padding: 8px 0;
    border: none;
    margin: 0;
}

.navbar-default .navbar-brand {
    font-family: "scriptina";
    color: #fff;
    font-size: 24px;
    letter-spacing: 4px;
    margin-top: -8px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}

.navbar-default .navbar-brand:hover {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.navbar-default .navbar-nav > li > a {
    font-family: 'Alegreya Sans SC', sans-serif;
    color: #fff;
    font-size: 15px;
    text-transform: capitalize;
    padding: 12px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}
.navbar-default .navbar-nav > li > a:hover {
    text-decoration: none;
    text-shadow: none;
    color: wheat;
    transform-origin: left top;
    transform: scale(1.1);
}

#navbarH > .navHHover .navSpan > a > span {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 20px;
}

#navbarH > .navHHover .navSpan > a > span:hover {
    text-decoration: none;
    text-shadow: none;
    color: #fff;
    cursor: default;
}

.headerText {
    margin-top: 110px;
}

.headerText > h1 {
    font-family: 'Playfair Display', serif;
    color: #fff;
    font-size: 80px;
    font-weight: 700;
    letter-spacing: 4px;
    margin-bottom: 30px;
}

.headerText > img {
    width: 12%;
    margin-bottom: 50px;
}

.headerText > p {
    font-family: 'Quicksand', sans-serif;
    color: #fff;
    font-size: 19px;
    white-space: pre-line;
    letter-spacing: 1px;
    margin-bottom: 45px;
}

.headerText .btnOne {
    text-shadow: none;
    background: url('../images/navbg.png');
    font-family: 'Alegreya Sans SC', sans-serif;
    color: #fff;
    letter-spacing: 2px;
    padding: 10px 40px;
    border: 1px dashed white;
    border-radius: 0px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}

.headerText .btnOne:hover {
    background: #8C423D;
    color: #fff;
}

.headerText .btnOne:focus{
    color: #fff;
}

.navSeparator {
    position: absolute;
    top: 523px;
    left: 0;
}


/* testimony part stars here */

.testWrapper {
    background-image: url('../images/artbg.jpg');
    background-position: center;
    background-size: cover;
    min-height: 600px;
}

.testWrapper > .row > .testContent {
    padding: 70px 0 60px;
}

.testContent > .testLeft > h1 {
    font-family: 'Alegreya', serif;
    color: #56534c;
    font-size: 42px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 0px;
}

.testContent > .testLeft > h3 {
    font-family: 'Alegreya', serif;
    color:#a47d5e;
    font-size: 17px;
    font-weight: 600;
    margin-top: 4px;
}

.testContent > .testLeft > p {
    font-family: 'Proxima Nova', sans-serif;
    color: #56534c;
    font-size: 14px;
}

.testContent > .testLeft > h2 {
    font-family: 'Alegreya', serif;
    color:#56534c;
    font-size: 19px;
    font-weight: bold;
}

.testRight > .cakePic > img {
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}

.testRight > .cakePic > img:hover {
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    transform: scale(1.15);
}

.testRight > .centerPic {
    position: absolute;
    top: 25%;
    left: 25%;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}

.testRight > .centerPic:hover {
    transform: rotate(45deg);
}


/* pancake part stars here */

.pcakeContent > .pcakeText > h1 {
    color: #56534c;
    font-family: 'Alegreya', serif;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 5px;
}

.pcakeContent > .pcakeText > h4 {
    color: #b2927a;
    font-family: 'Alegreya', serif;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-top: 0px;
}

.pcakeContent > .pcakeText > p {
    color:#56534c;
    font-family: 'Proxima Nova', sans-serif;
    font-size: 14px;
    white-space: pre-line;
}

.pcakerate > ul > li > a > img {
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}

.pcakerate > ul > li > a > img:hover {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-filter: brightness(115%);
    filter: brightness(115%);
}

.carousel {
    height: 120px;
}

.carousel .item{
    height: 130px;
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
    outline: none;
}

.glyphicon-chevron-left:before, .glyphicon-chevron-right:before {
    color: #b2927a;
}

.carousel-indicators li {
    visibility: hidden;
}


/* breakfast part starts here */

.breakWrappaer {
    background-image: url('../images/breakfast.jpg');
    background-position: center;
    background-size: cover;
}

.breakContent > .breakLeft > h1 {
    color: #fff;
    font-family: 'Alegreya', serif;
    font-size: 50px;
    font-weight: 600;
    margin-top: 6%;
    margin-bottom: 5px;
    letter-spacing: 2px;
}

.breakContent > .breakLeft > h4 {
    color: #c8a593;
    font-family: 'Alegreya', serif;
    font-size: 14px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 40px;
}

.breakContent > .breakLeft > h3 {
    color: #fff;
    font-family: 'Alegreya', serif;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.breakContent > .breakLeft > p {
    color: #c2beba;
    font-size: 13px;
}

.breakContent > .breakLeft > h5 {
    color: #dfc691;
    font-family: 'Alegreya', serif;
    font-size: 30px;
}

.breakRight > .brContent {
    position: absolute;
    top: 12%;
    left: 4%;
}

.breakRight > .brContent > h5 > span {
    float: right;
}

.breakRight > .brContent > h2 {
    color: #56534c;
    font-family: 'Alegreya', serif;
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 1px;
    white-space: pre-line;
    text-align: center;
}

.breakRight > .brContent > p {
    color:#56534c;
    font-family: 'Proxima Nova', sans-serif;
    font-size: 13px;
    line-height: 1.9;
    text-align: center;
}

.breakRight > .brContent .btnTwo {
    text-shadow: none;
    background: transparent;
    color: #b59881;
    font-family: 'Alegreya Sans SC', sans-serif;
    padding: 10px 55px;
    border:1px solid #b59881;
    border-radius: 0px;
    margin-top: 20px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}

.breakRight > .brContent .btnTwo:hover {
    background: #95a5a6;
    color: #fff;
}


/* sandwich part starts here */

.swichWrapper {
    background-color: #f3f1e9;
    background-size: cover;
}

.swichContent > h1 {
    color:#56534c;
    font-family: 'Alegreya', serif;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: -40px;
    margin-bottom: 5px;
}

.swichContent > h4 {
    color: #a47d5e;
    font-family: 'Alegreya', serif;
    font-size: 13px;
    font-weight: 600;
    margin-top: 0px;
}

.swichContent > .swichLeft > img {
    margin-top: 30px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}

.swichContent > .swichLeft > img:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.swichContent > .swichLeft > h2 {
    color:#a47d5e;
    font-size: 30px;
    font-family: 'Alegreya', serif;
    font-weight: bold;
    margin-bottom: 0;
}

.swichContent > .swichLeft > p {
    color:#56534c;
    font-family: 'Proxima Nova', sans-serif;
    letter-spacing: .5px;
}

.swichContent > .swichRight > .btnPos {
    position: absolute;
    left: 0;
    bottom: 0;
}

.swichContent > .swichRight .btnThree {
    text-shadow: none;
    background: #fff;
    color: #a47d5e;
    font-family: 'Alegreya', serif;
    font-size: 17px;
    font-weight: 600;
    padding: 15px 35px;
    border: 1px dashed #a47d5e;
    border-radius: 0px; 
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}

.swichContent > .swichRight .btnThree:hover {
    background: #a47d5e;
    color: #fff;
    border: 1px dashed #adff2f;
}


/* footer part starts here */

.footerWrapper {
    background-color: #f3f1e9;
    background-size: cover;
}

.footerWrapper > .row > .footerContent {
    margin-bottom: 40px;
}

.footerContent > .fcLeft, .fcRight {
    background: #efede2;
    padding: 30px 0 20px;
    border-bottom: 1px solid #c2beba;
    border-top: 1px solid #c2beba;
}

.fcCentre > a {
    text-decoration: none;
    color:#726f68;
    font-family: "scriptina";
    font-size: 45px;
    font-weight: 500;
    letter-spacing: 5px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}

.fcCentre > a:hover {
    font-weight: 600;
}

.footerContent ul li a {
    text-decoration: none;
    color: #35332f;
    font-family: 'Alegreya', serif;
    font-size: 16px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}

.footerContent ul li a:hover {
    color: #a47d5e;
    font-size: 15px;
}

/* Common styling ends here */


/* Medai Query starts from here */


/* for mobile responsiveness */

@media (max-width: 324px) {

    /* header part starts here */

    .headerWrapper {
        min-height: 580px;
    }

    .navbar-default .navbar-nav > li > a {
        padding: 5px;
        margin-left: 15px;
    }

    .navbar-default .navbar-nav > li > a span {
        display: none;
    }

    .headerText {
        margin-top: 40px;
    }

    .headerText > h1 {
        font-size: 50px;
        letter-spacing: 3px;
        margin-bottom: 20px;
    }

    .headerText > img {
        width: 35%;
        margin-bottom: 40px;
    }

    .headerText > p {
        font-size: 16px;
        white-space: normal;
        letter-spacing: 1px;
        margin-bottom: 40px;
    }

    .headerText .btnOne {
        font-size: 13px;
        letter-spacing: 2px;
        padding: 10px 35px;
    }

    .navSeparator {
        position: absolute;
        top: 123%;
        left: 31%;
        width: 40%;
    }


    /* testimony part stars here */

    .testWrapper > .row > .testContent {
        padding: 60px 0;
    }

    .testContent > .testLeft > h3 {
        margin-bottom: 30px;
    }

    .testContent > .testLeft > p {
        white-space: normal;
    }

    .testContent > .testLeft > h2 {
        margin-top: 30px;
    }    

    .testContent > .testRight {
        margin-top: 40px;
    }

    .testRight > .cakePic {
        padding: 5px;
        margin-top: 0;
    }


    /* pancake part starts here */

    .pcakeWrapper {
        background-image: url(../images/pancakecback.png), url(../images/tastybg.jpg);
        background-position: 46% 50px, center;
        background-size: 100%, cover;
        background-repeat: no-repeat;
        min-height: 370px;
        padding-top: 50px;
    }

    .pcakeContent > .pcakeBnr {
        width: 22%;
        padding: 0;
        position: absolute;
        left: 11.4%;
        top: -7px;
    }

    .pcakeContent > .pcakeText {
        width: 54%;
        position: absolute;
        top: -12px;
        left: -7%;
    }

    .pcakeContent > .pcakeText > h1 {
        font-size: 14px;
        padding-top: 22px;
    }

    .pcakeContent > .pcakeText > h4 {
        font-size: 8px;
        letter-spacing: 1px;
    }

    .pcakeContent > .pcakeText > p {
        font-size: 9px;
        letter-spacing: normal;
        white-space: normal;
        margin-top: 8%;
    }

    .pcakeText > .pcakerate {
        margin-top: -3%;
        margin-left: 4%;
    }

    .pcakerate > ul > li {
        padding: 0;
    }

    .pcakerate > ul > li > a > img {
        width: 80%;
    }

    .carousel {
        width: 150%;
        position: absolute;
        left: -63%;
        top: 100%;
    }

    .carousel .item{
        height: 50%;
    }


    /* breakfast part starts here */

    .breakWrappaer > .row > .breakContent {
        margin-top: 40px;
        margin-bottom: 60px;
    }

    .breakContent > .breakRight {
        width: 104%;
        padding: 0;
        margin-top: 18%;
        margin-left: 1%;
    }

    .breakRight > .brContent {
        width: 100%;
        position: absolute;
        top: 7%;
        left: -5%;
        margin: 0;
        padding: 0 11%;
    }

    .breakRight > .brContent > h5 {
        padding: 0 7px;
    }

    .breakRight > .brContent > h2 {
        font-size: 25px;
        letter-spacing: 1px;
        line-height: 1.2;
        margin-top: 18px;
        margin-bottom: 18px;
    }

    .breakRight > .brContent > p {
        line-height: 1.5;
        margin-bottom: 10px;
    }

    .breakRight > .brContent .btnTwo {
        padding: 10px 40px;
        margin-top: 16px;
    }


    /* sandwich part starts here */

    .swichWrapper {
        min-height: 1115px;
    }

    .swichContent > h1 {
        margin-top: -18px;
        margin-bottom: 8px;
    }

    .swichContent > h4 {
        font-size: 11px;
    }

    .swichContent > .swichLeft > img {
        width: 40%;
    }

    .swichContent > .swichLeft > h2 {
        margin-top: 5px;
    }

    .swichContent > .swichLeft > p {
        white-space: normal;
        padding: 13px 13px 0;
    }

    .swichContent > .swichRight {
        width: 100%;
        padding: 0;
        margin-top: 13%;
    }

    .swichContent > .swichRight .btnThree {
        font-size: 13px;
        padding: 12px 25px;
    }


    /* fotter part starts here */

    .footerContent > .fcLeft, .fcRight {
        padding: 20px 0 10px;
    }

    .footerContent > .fcCentre {
        padding-bottom: 15px;
    }

    .footerContent ul li {
        padding: 0 7px;
    }

    .footerContent ul li a {
        font-size: 13px;
    }

}


@media (max-width: 375px) and (min-width: 325px) {

    /* header part starts here */

    .headerWrapper {
        min-height: 580px;
    }

    .navbar-default .navbar-nav > li > a {
        padding: 5px;
        margin-left: 15px;
    }

    .navbar-default .navbar-nav > li > a span {
        display: none;
    }

    .headerText {
        margin-top: 40px;
    }

    .headerText > h1 {
        font-size: 50px;
        letter-spacing: 3px;
        margin-bottom: 20px;
    }

    .headerText > img {
        width: 35%;
        margin-bottom: 40px;
    }

    .headerText > p {
        font-size: 16px;
        white-space: normal;
        letter-spacing: 1px;
        margin-bottom: 40px;
    }

    .headerText .btnOne {
        font-size: 13px;
        letter-spacing: 2px;
        padding: 10px 35px;
    }

    .navSeparator {
        position: absolute;
        top: 130%;
        left: 33%;
        width: 35%;
    }


    /* testimony part stars here */

    .testWrapper > .row > .testContent {
        padding: 50px 0 60px;
    }

    .testContent > .testLeft > h3 {
        margin-bottom: 30px;
    }

    .testContent > .testLeft > p {
        white-space: normal;
    }

    .testContent > .testLeft > h2 {
        margin-top: 30px;
    }    

    .testContent > .testRight {
        margin-top: 40px;
    }

    .testRight > .cakePic {
        padding: 5px;
        margin-top: 0;
    }


    /* pancake part starts here */

    .pcakeWrapper {
        background-image: url(../images/pancakecback.png), url(../images/tastybg.jpg);
        background-position: 0 50px, center;
        background-size: 100%, cover;
        background-repeat: no-repeat;
        min-height: 300px;
        padding-top: 50px;
    }

    .pcakeContent > .pcakeBnr {
        width: 22%;
        padding: 0;
        position: absolute;
        left: 11.4%;
        top: -7px;
    }

    .pcakeContent > .pcakeText {
        width: 54%;
        position: absolute;
        top: -12px;
        left: -7%;
    }

    .pcakeContent > .pcakeText > h1 {
        font-size: 14px;
        padding-top: 22px;
    }

    .pcakeContent > .pcakeText > h4 {
        font-size: 8px;
        letter-spacing: 1px;
    }

    .pcakeContent > .pcakeText > p {
        font-size: 9px;
        letter-spacing: normal;
        white-space: normal;
        margin-top: 7%;
    }

    .pcakeText > .pcakerate {
        margin-top: -4%;
        margin-left: 4%;
    }

    .pcakerate > ul > li {
        padding: 0;
    }

    .pcakerate > ul > li > a > img {
        width: 70%;
    }

    .carousel {
        width: 80%;
        height: 50px;
        position: absolute;
        left: 9%;
        bottom: -24%; 
            
    }

    .carousel .item img {
        height: 60%;
    }


    /* breakfast part starts here */

    .breakWrappaer > .row > .breakContent {
        margin-top: 40px;
        margin-bottom: 60px;
    }

    .breakContent > .breakRight {
        width: 104%;
        padding: 0;
        margin-top: 15%;
    }

    .breakRight > .brContent {
        width: 100%;
        position: absolute;
        top: 10%;
        left: -5%;
        margin: 0;
        padding: 0 11%;
    }

    .breakRight > .brContent > h5 {
        padding: 0 7px;
    }

    .breakRight > .brContent > h2 {
        font-size: 25px;
        letter-spacing: 1px;
        line-height: 1.2;
        margin-top: 30px;
        margin-bottom: 25px;
    }

    .breakRight > .brContent > p {
        line-height: 1.5;
        margin-bottom: 15px;
    }

    .breakRight > .brContent .btnTwo {
        padding: 10px 45px;
        margin-top: 16px;
    }


    /* sandwich part starts here */

    .swichWrapper {
        padding-bottom: 60px;
    }

    .swichContent > h1 {
        margin-top: -18px;
        margin-bottom: 8px;
    }

    .swichContent > h4 {
        font-size: 12px;
    }

    .swichContent > .swichLeft > img {
        width: 40%;
    }

    .swichContent > .swichLeft > h2 {
        margin-top: 5px;
    }

    .swichContent > .swichLeft > p {
        white-space: normal;
        padding: 13px 13px 0;
    }

    .swichContent > .swichRight {
        width: 100%;
        padding: 0;
        margin-top: 13%;
    }

    .swichContent > .swichRight .btnThree {
        font-size: 13px;
        padding: 12px 25px;
    }


    /* fotter part starts here */

    .footerContent > .fcLeft, .fcRight {
        padding: 20px 0 10px;
    }

    .footerContent > .fcCentre {
        padding-bottom: 15px;
    }

    .footerContent ul li {
        padding: 0 7px;
    }

    .footerContent ul li a {
        font-size: 13px;
    }

}


/* navbar only */
@media (min-width: 767px) {

    /* centered navbar */

    .navbar .navbar-nav {
        display: inline-block;
        float: none;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }

}

/* for tab responsiveness */

@media (max-width: 1200px) and (min-width: 767px) { 

    /* testimony part stars here */

    .testContent > .testLeft > h3 {
        margin-bottom: 30px;
    }

    .testContent > .testLeft > p {
        white-space: normal;
    }

    .testContent > .testLeft > h2 {
        margin-top: 30px;
    }

    .testContent > .testLeft {
        margin-left: 15%;
    }

    .testContent > .testRight {
        width: 40%;
        margin-top: 70px;
        margin-left: 15px;
    }

    .testRight > .cakePic {
        margin-top: 0;
        padding: 5px;
    }


    /* pancake part starts here */

    .pcakeWrapper {
        background-image: url(../images/pancakecback.png), url(../images/tastybg.jpg);
        background-position: 46% 60px, center;
        background-size: 80%, cover;
        background-repeat: no-repeat;
        min-height: 550px;
        padding-top: 40px;
    }

    .pcakeContent > .pcakeBnr {
        width: 24%;
        position: absolute;
        left: 60px;
        top: -10px;
    }

    .pcakeContent > .pcakeText {
        width: 37%;
        position: absolute;
        top: 50px;
        left: -3%;
    }

    .pcakeContent > .pcakeText > h4 {
        margin-bottom: 14px;
    }

    .pcakeContent > .pcakeText > p {
        margin-bottom: 9%;
    }

    .pcakeText > .pcakerate {
        margin-bottom: -6px;
    }


    /* breakfast part starts here */

    .breakWrappaer > .row > .breakContent {
        margin-top: 50px;
        margin-bottom: 70px;
    }

    .breakContent > .breakLeft {
        margin-left: 10%;
    }

    .breakContent > .breakRight {
        width: 46%;
        margin-top: 3%;
        margin-left: 1%;
    }

    .breakRight > .brContent > h2 {
        line-height: 1.4;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .breakRight > .brContent > p {
        margin-bottom: 15px;
    }


    /* sandwich part starts here */

    .swichWrapper {
        min-height: 900px;
    }

    .swichContent > .swichLeft {
        margin-left: 2.5%;
        margin-right: 1%;
    }

    .swichContent > .swichLeft > img {
        width: 30%;
    }

    .swichContent > .swichLeft > h2 {
        margin-top: 5px;
    }

    .swichContent > .swichLeft > p {
        white-space: normal;
        padding: 15px 35px 0;
    }

    .swichContent > .swichRight {
        width: 58%;
        margin-top: 13%;
    }


    /* fotter part starts here */

    .footerContent ul li {
        padding-right: 12px;
        padding-left: 12px;
    }

}

/* for desktop responsiveness */

@media (min-width: 1200px){


    /* testimony part stars here */

    .testContent > .testLeft > h3 {
        margin-bottom: 40px;
    }

    .testContent > .testLeft > p {
        white-space: pre-line;
    }

    .testContent > .testLeft > h2 {
        margin-top: 40px;
    }

    .testContent > .testRight {
        margin-top: 40px;
    }

    .testRight > .cakePic {
        margin-top: 20px;
    }


    /* pancake part starts here */

    .pcakeWrapper {
        background-image: url('../images/pancakecback.png'), url('../images/tastybg.jpg');
        background-position: 50% 90px, center;
        background-size: 55%, cover;
        background-repeat: no-repeat;
        min-height: 600px;
        padding-top: 60px;
        padding-bottom: 20%;
    }

    .pcakeContent > .pcakeText {
        position: absolute;
        top: 30%;
        left: -1%;
    }

    .pcakeContent > .pcakeText > h4 {
        margin-bottom: 25px;
    }

    .pcakeContent > .pcakeText > p {
        margin-bottom: 10%;
    }

    .pcakeText > .pcakerate {
        margin-bottom: 21px;
    }


    /* breakfast part starts here */

    .breakWrappaer > .row > .breakContent {
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .breakRight > .brContent > h2 {
        line-height: 1.5;
        margin-top: 60px;
        margin-bottom: 30px;
    }

    .breakRight > .brContent > p {
        margin-bottom: 30px;
    }


    /* sandwich part starts here */

    .swichWrapper {
        min-height: 1000px;
    }

    .swichContent > .swichLeft > img {
        width: 20%;
    }

    .swichContent > .swichLeft > h2 {
        margin-top: 7px;
    }

    .swichContent > .swichLeft > p {
        white-space: pre-line;
    }

    .swichContent > .swichRight {
        margin-top: 7%;
    }


    /* fotter part starts here */

    .footerContent ul li {
        padding-right: 30px;
        padding-left: 30px;
    }

}


/* Medai Query ends here */